.profile {
  position: relative;
  margin: 0 0 0 10px;
  color: #ffffff;
}

.profile__option {
  cursor: pointer;

}

.profile__list {
  position: absolute;
  width: 120px;
  right: 0;
  top: 170%;
  background-color: rgb(3, 41, 29);
  padding: 10px;
}

.profile__list__item {
  margin: 2px 0;
}


.anchor {
  width: 100%;
  display: block;
  font-size: .8rem;
  color: #ffffff;
}